
<body>
<div class="scrollmenu">

    <a routerLink='/home'>Home</a>
    <a routerLink='/booking'>Booking</a>
    <a routerLink='/about'>About</a>
    <a routerLink='/contact'>Contact</a>
    
    </div>
<div class="container">
    
   <h1> ABOUT US</h1>

   <h3>VULOMBE BUS  SERVICES ANYWHERE IN SOUTH AFRICA</h3>
       
   <h4>Vulombe was the first luxury coach operator to start an intercity scheduled service as far back as 1984.</h4> 
   <h4>We now carry more than 1.4 million passengers year over 25 million km.</h4>
   <h4>Our comprehensive intercity network covers all the major cities in South Africa .</h4> 
   <h4>On all our services the emphasis is always on safety and comforts at affordable fares.</h4>
   
   <h4>Vulombe Bus service recently introduced the Dreamliner which is the first coach of its type in Africa.</h4> 
   <h4>The Dreamliner offers passengers a Business class section on the lower deck. Our coaches are built to 5 star specifications and features</h4>
   
   <h2>Vulombe Safety: Ensuring safe (and snug) driving!</h2>
   <h4>Choosing Vulombe Safety is more than about leaning back, listening to music and enjoying the experience of the road trip. Yes, it’s about safety too. </h4>
   <h4>In fact, safety is top of Greyhound’s priorities and we do our very best to ensure that all of our brilliant passengers arrive as safely at their destination, as do […]</h4>
   
   <h4>Any body is welcome and we guarantee 100% satisfaction.</h4>
   
</div>
</body>


