

<div class="background">
    
    <div class="scrollmenu">

        <a routerLink='home'>Home</a>
        <a routerLink='/booking'>Booking</a>
        <a routerLink='/about'>About</a>
        <a routerLink='/contact'>Contact</a>
        
        </div>
        <h1>
            VULOMBE BUS SERVICE
           </h1>

           <div class="container">
            <img src='http://thesoftking.com/products/pimages/201701202247258260imgs12TSK.jpg'>
            
            </div>
           
                <form>
                <button (click)="booking()">click here to book your ticket</button>
            </form>
            
              
                    
 </div>

 
    