
.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
}

.scrollmenu a:hover {
    background-color: #777;
}
.background{
    background-color:rgb(129, 89, 93)
}
button{
    position: absolute;
    z-index: 99;
    top: 520px;
    transform: translateX(300px);
    padding: 10px;
    
}