<body>
<div class="scrollmenu">

    <a routerLink='/home'>Home</a>
    <a routerLink='/booking'>Booking</a>
    <a routerLink='/about'>About</a>
    <a routerLink='/contact'>Contact</a>
    
    </div>

<p>{{fullnames}} </p>

<p>Thanks for booking with us</p>

<p>Your booking details are as follows:</p>
<p>Departing from:{{from}}   To:{{to}} </p>

<p>Date:{{date}}</p>
<p>Time:{{time}}</p>
  

   <P> (NB)Make sure you are at the station 30 minutes</P> 
   <p>before your booking time.</p>
  
<div class="p">
    <p>HAVE A NYC JOURNEY</p>
</div>

</body>